@charset "UTF-8";

body{
    background-color: rgb(150, 243, 147);
}

h1{
    color: rgb(45, 119, 43);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(25, 88, 23);
}

.basico{
    color: rgb(50, 133, 47);
}

.intermediario{
    color: rgb(137, 143, 56);
}

.avancado{
    color: rgb(124, 50, 50);
}

.destaque{
    background-color: rgba(228, 228, 54, 0.527);
}